@model CeMeOCore.DAL.Models.Meeting

@{
    Layout = "~/Views/Shared/AdminHeader.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Location</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.MeetingID)

        <div class="input-group input-group-sm">
            <span id="bigger" class="input-group-addon">MeetingDate:</span>
            @Html.TextBoxFor(model => model.Creator, new { @class = "form-control", @placeholder = "MeetingDate", @id = "smaller" })
            @Html.ValidationMessageFor(model => model.MeetingDate)
            <span class="label label-danger">Required</span>
        </div>
        <br />
        <div class="input-group input-group-sm">
            <span id="bigger" class="input-group-addon">MeetingUser:</span>
            @Html.TextBoxFor(model => model.MeetingUser, new { @class = "form-control", @placeholder = "MeetingUser", @id = "smaller" })
            @Html.ValidationMessageFor(model => model.MeetingUser)
            <span class="label label-danger">Required</span>
        </div>
        <br />
        <div class="input-group input-group-sm">
            <span id="bigger" class="input-group-addon">Location:</span>
            @Html.TextBoxFor(model => model.Location.Name, new { @class = "form-control", @placeholder = "Location", @id = "smaller" })
            @Html.ValidationMessageFor(model => model.Location.Name)
            <span class="label label-danger">Required</span>
        </div>
        <br />
        <div class="input-group input-group-sm">
            <span id="bigger" class="input-group-addon">State:</span>
            @Html.TextBoxFor(model => model.State, new { @class = "form-control", @placeholder = "State", @id = "smaller" })
            @Html.ValidationMessageFor(model => model.State)
            <span class="label label-danger">Required</span>
        </div>
        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


