@model CeMeOCore.DAL.Models.Meeting

@{
    Layout = "~/Views/Shared/AdminHeader.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.MeetingID)
        <fieldset id="smallerinput" disabled>
            <div class="input-group input-group-sm">
                <span id="bigger" class="input-group-addon">Name:</span>
                @Html.TextBoxFor(model => model.Creator, new { @class = "form-control", @placeholder = "Name", @id = "smaller" })
                @Html.ValidationMessageFor(model => model.Creator)
                <span class="label label-danger">Required</span>
            </div>
            <br />
            <div class="input-group input-group-sm">
                <span id="bigger" class="input-group-addon">Meetingdates:</span>
                @Html.TextBoxFor(model => model.MeetingDate, new { @class = "form-control", @placeholder = "Meeting date", @id = "datepicker" })
                @Html.ValidationMessageFor(model => model.MeetingDate)
                <span class="label label-danger">Required</span>
                <script>
                    $(function () {
                        $("#datepicker").datepicker();
                    });
                </script>
            </div>
            <br />
            <div class="input-group input-group-sm">
                <span id="bigger" class="input-group-addon">Meetingsusers:</span>
                @Html.TextBoxFor(model => model.MeetingUser, new { @class = "form-control", @placeholder = "Meeting users", @id = "smaller" })
                @Html.ValidationMessageFor(model => model.MeetingUser)
                <span class="label label-primary">Not required</span>
            </div>
            <br />
            <div class="input-group input-group-sm">
                <span id="bigger" class="input-group-addon">Location:</span>
                @Html.TextBoxFor(model => model.Location.Name, new { @class = "form-control", @placeholder = "Location", @id = "smaller" })
                @Html.ValidationMessageFor(model => model.Location.Name)
                <span class="label label-danger">Required</span>
            </div>
            <br />
            <div class="input-group input-group-sm">
                <span id="bigger" class="input-group-addon">State:</span>
                @Html.TextBoxFor(model => model.State, new { @class = "form-control", @placeholder = "State", @id = "smaller" })
                @Html.ValidationMessageFor(model => model.State)
                <span class="label label-danger">Required</span>
            </div>
            <br />
        </fieldset>
        <p>
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    Action <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        @Html.ActionLink("Edit", "Edit", new { id = Model.MeetingID })
                    </li>
                    <li>
                        <a data-toggle="modal" data-target="#myModal">
                            Delete
                        </a>
                    </li>
                    <li class="divider">
                    </li>
                    <li>
                        @Html.ActionLink("Back to List", "Index")
                    </li>
                </ul>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">Delete location</h4>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to delete the following location? <br />
                            It will not be possible to revert this action and the location will permanently be lost. <br />
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("DeleteLocation", "Locations", new { id = Model.MeetingID })'">Delete</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        </p>
    </div>




