@model PagedList.IPagedList<CeMeOCore.DAL.Models.UserProfile>
@using PagedList.Mvc;
@{
    ViewBag.page = "List";
    ViewBag.title = "Users";
    Layout = "~/Views/Shared/AdminHeader.cshtml";
}

link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@using (Html.BeginForm("Index", "UserProfile", FormMethod.Get))
{
    <div class="form-group input-group" role="search">
        @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control" })
        <span class="input-group-btn">
            <button type="submit" class="btn btn-default"><i class="fa fa-search">Search by username</i></button>
        </span>
    </div>
}
<div class="col-lg-6">
    <div class="table-responsive">
        <table class="table table-hover table-striped tablesorter">
            <thead>
                <tr>
                    <th>
                        @Html.ActionLink("UserName", "Index", new { sortOrder = ViewBag.UserNameSortParm })
                        <i class="fa fa-sort"></i>
                     </th>
                </tr>
            </thead>

            @foreach (var item in Model)
            {
                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td>
                            <ul class="nav nav-pills">
                                <li class="">@Html.ActionLink("Details", "Details", new { id = item.UserId })</li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            }

        </table>
        <button type="submit" class="btn btn-default">@Html.ActionLink("Create New", "Create")</button>
        @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    </div>
</div>