@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admin Panel</title>
    @Styles.Render("~/Content/admincss")
    @Scripts.Render("~/bundles/adminjs")
</head>
<body>
    <div id="wrapper">

        <!-- Sidebar -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="index.html">AdminPanel CeMeo</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li><a href="index.html"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                    <li><a href="charts.html"><i class="fa fa-bar-chart-o"></i> Charts</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-table"></i> Tables <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Rooms", "Index", "Room")</li>
                            <li>@Html.ActionLink("Locations", "Index", "Location")</li>
                            <li>@Html.ActionLink("Appointments", "Index", "Appointment")</li>
                            <li>@Html.ActionLink("Meetings", "Index", "Meetings")</li>
                            <li>@Html.ActionLink("Users", "Index", "UserProfile")</li>
                            <li>@Html.ActionLink("Calendar", "Index", "Calendar")</li>
                        </ul>
                    </li>
                    <li><a href="bootstrap-grid.html"><i class="fa fa-wrench"></i>Other settings</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right navbar-user">
                    <li class="dropdown user-dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Administrator <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><i class="fa fa-power-off"></i> Log Out</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <ol class="breadcrumb">
                        <li><a href="index.html"><i class="icon-dashboard"></i> @ViewBag.page</a></li>
                        <li class="active"><i class="icon-file-alt"></i> @ViewBag.title</li>
                    </ol>
                </div>
            </div><!-- /.row -->
            @RenderBody()
        </div><!-- /#page-wrapper -->
    </div><!-- /#wrapper -->
</body>
</html>
