@model CeMeOCore.DAL.Models.UserProfile

@{
    Layout = "~/Views/Shared/AdminHeader.cshtml";
}



<div>
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.UserId)
        <fieldset disabled>
            <div class="input-group input-group-sm">
                <span id="bigger" class="input-group-addon">UserName:</span>
                @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", @placeholder = "UserName", @id = "smaller" })
                @Html.ValidationMessageFor(model => model.UserName)
            </div>
            <br />
            <div class="input-group input-group-sm">
                <span id="bigger" class="input-group-addon">FirstName:</span>
                @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", @placeholder = "FirstName", @id = "smaller" })
                @Html.ValidationMessageFor(model => model.FirstName)
            </div>
            <br />
            <div class="input-group input-group-sm">
                <span id="bigger" class="input-group-addon">LastName:</span>
                @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", @placeholder = "LastName", @id = "smaller" })
                @Html.ValidationMessageFor(model => model.LastName)
            </div>
            <br />
            <div class="input-group input-group-sm">
                <span id="bigger" class="input-group-addon">EMail:</span>
                @Html.TextBoxFor(model => model.EMail, new { @class = "form-control", @placeholder = "EMail", @id = "smaller" })
                @Html.ValidationMessageFor(model => model.EMail)
            </div>
            <br />
            <div class="input-group input-group-sm">
                <span id="bigger" class="input-group-addon">PreferedLocation:</span>
                @Html.TextBoxFor(model => model.PreferedLocation, new { @class = "form-control", @placeholder = "PreferedLocation", @id = "smaller" })
                @Html.ValidationMessageFor(model => model.PreferedLocation)
            </div>
            <br />
        </fieldset>
    </div>
</div>


