@model CeMeOCore.DAL.Models.Room
@{
    Layout = "~/Views/Shared/AdminHeader.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Location</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.LocationID)

        <div class="input-group input-group-sm">
            <span id="bigger" class="input-group-addon">Name:</span>
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "Name", @id = "smaller" })
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        <br />
        <div class="input-group input-group-sm">
            <span id="bigger" class="input-group-addon">Type:</span>
            @Html.TextBoxFor(model => model.Type, new { @class = "form-control", @placeholder = "Street", @id = "smaller" })
            @Html.ValidationMessageFor(model => model.Type)
        </div>
        <br />
        <div class="input-group input-group-sm">
            <span id="bigger" class="input-group-addon">Location:</span>
            @Html.TextBoxFor(model => model.LocationID.Name, new { @class = "form-control", @placeholder = "Number", @id = "smaller" })
            @Html.ValidationMessageFor(model => model.LocationID.Name)
        </div>
        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
