@model CeMeOCore.DAL.Models.CreateRoom
@{
    Layout = "~/Views/Shared/AdminHeader.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Location</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.room.RoomID)

        <div class="input-group input-group-sm">
            <span id="bigger" class="input-group-addon">Name:</span>
            @Html.TextBoxFor(model => model.room.Name, new { @class = "form-control", @placeholder = "Name", @id = "smaller" })
            @Html.ValidationMessageFor(model => model.room.Name)
            <span class="label label-danger">Required</span>
        </div>
        <br />
        <div class="input-group input-group-sm">
            <span id="bigger" class="input-group-addon">Type:</span>
            @Html.TextBoxFor(model => model.room.Type, new { @class = "form-control", @placeholder = "Street", @id = "smaller" })
            @Html.ValidationMessageFor(model => model.room.Type)
            <span class="label label-danger">Required</span>
        </div>
        <br />
        <span id="bigger" class="input-group-addon">Loc:</span>
        @Html.DropDownListFor(model => model.ActionId, Model.ActionsList, new { @class = "form-control", @id = "smaller" })
        <span class="label label-danger">Required</span>
        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
