@model PagedList.IPagedList<CeMeOCore.Models.Room>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Rooms";
}

<h2>Rooms</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index", "Room", FormMethod.Get))
{
    <p>
        Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "control-label col-md-2" })
        <input type="submit" value="Search" class="btn btn-default" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th>
            @Html.ActionLink("Type", "Index", new { sortOrder = ViewBag.TypeSortParm })
        </th>
        <th>
            @Html.ActionLink("Location", "Index", new { sortOrder = ViewBag.LocationSortParm })
        </th>
        <th>
            @Html.ActionLink("Beamerpresent", "Index", new { sortOrder = ViewBag.BeamerPresentSortParm })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LocationID.LocationID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BeamerPresent)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RoomID }) |
            @Html.ActionLink("Details", "Details", new { id=item.RoomID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RoomID })
        </td>
    </tr>
}
</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
