@model CeMeOCore.DAL.Models.Location

@{
    Layout = "~/Views/Shared/AdminHeader.cshtml";
}


<div>
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.LocationID)
        <fieldset disabled>
            <div class="input-group input-group-sm">
                <span id="bigger" class="input-group-addon">Name:</span>
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "Name", @id = "smaller" })
                @Html.ValidationMessageFor(model => model.Name)
            </div>
            <br />
            <div class="input-group input-group-sm">
                <span id="bigger" class="input-group-addon">Street:</span>
                @Html.TextBoxFor(model => model.Street, new { @class = "form-control", @placeholder = "Street", @id = "smaller" })
                @Html.ValidationMessageFor(model => model.Street)
            </div>
            <br />
            <div class="input-group input-group-sm">
                <span id="bigger" class="input-group-addon">Number:</span>
                @Html.TextBoxFor(model => model.Number, new { @class = "form-control", @placeholder = "Number", @id = "smaller" })
                @Html.ValidationMessageFor(model => model.Number)
            </div>
            <br />
            <div class="input-group input-group-sm">
                <span id="bigger" class="input-group-addon">Zip:</span>
                @Html.TextBoxFor(model => model.Zip, new { @class = "form-control", @placeholder = "Zip", @id = "smaller" })
                @Html.ValidationMessageFor(model => model.Zip)
            </div>
            <br />
            <div class="input-group input-group-sm">
                <span id="bigger" class="input-group-addon">City:</span>
                @Html.TextBoxFor(model => model.City, new { @class = "form-control", @placeholder = "City", @id = "smaller" })
                @Html.ValidationMessageFor(model => model.City)
            </div>
            <br />
            <div class="input-group input-group-sm">
                <span id="bigger" class="input-group-addon">Country:</span>
                @Html.TextBoxFor(model => model.Country, new { @class = "form-control", @placeholder = "Country", @id = "smaller" })
                @Html.ValidationMessageFor(model => model.Country)
            </div>
            <br />
            <div class="input-group input-group-sm">
                <span id="bigger" class="input-group-addon">State:</span>
                @Html.TextBoxFor(model => model.State, new { @class = "form-control", @placeholder = "State", @id = "smaller" })
                @Html.ValidationMessageFor(model => model.State)
            </div>
            <br />
            <div class="input-group input-group-sm">
                <span id="bigger" class="input-group-addon">Addition:</span>
                @Html.TextBoxFor(model => model.Addition, new { @class = "form-control", @placeholder = "Addition", @id = "smaller" })
                @Html.ValidationMessageFor(model => model.Addition)
            </div>
            <br />
        </fieldset>
    </div>

    <p>
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                Action <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li>
                    @Html.ActionLink("Edit", "Edit", new { id = Model.LocationID })
                </li>
                <li>
                    @Html.ActionLink("Delete", "Delete", new { id = Model.LocationID })
                </li>
                <li class="divider">
                </li>
                <li>
                    @Html.ActionLink("Back to List", "Index")
                </li>
            </ul>
        </div
    </p>
</div>

