<div id="orange">
    <div class="jumbotron" id="transparency">
        <h1>Welcome, </h1>
        <h5>
            We present you CeMeo, a meeting app to create businessmeetings in <br />
            a very fast and simple way.
        </h5>
        <h5>
            Discover more features of this app below and ask your business if you <br />
            want to use this app. <br />
            ...
        </h5>
        <img src="~/assets/img/1.png" alt="iphoneApp" id="iphoneimage">
    </div>
</div>

<div id="red">
    <div class="text">
        <h1>Support of iOS</h1>
        <h5>
            We support iOS, a native build app with lots of usefull features. <br />
        </h5>
        <h5>
            Discover more of our suppport in iOS below <br />
        </h5>
    </div>
    <div class="span4">
        <div class="thumbnail">
            <div class="caption">
                <h4>Personal profile</h4>
                <p>
                    Get your information through your own <br />
                    personal business profile. Your exchange <br />
                    account will be automatically used for this. <br />
                </p>
            </div>
            <img src="~/assets/img/2.png" alt="...">
        </div>
    </div>
    <div class="span4">
        <div class="thumbnail">
            <div class="caption">
                <h4>Upcoming meetings</h4>
                <p>
                    Get a list of your upcoming meetings, <br />
                    click and see the details. <br />
                    Never miss an important appointment again. <br />
                </p>
            </div>
            <img src="~/assets/img/3.png" alt="...">
        </div>
    </div>
    <div class="span4">
        <div class="thumbnail">
            <div class="caption">
                <h4>Fast meetings</h4>
                <p>
                    Fast choosing between timespans <br />
                    and make ik possible to plan a meeting <br />
                    as soon as possible and needed. <br />
                </p>
            </div>
            <img src="~/assets/img/4.png" alt="...">
        </div>
    </div>
</div>

<div id="blue">
    <div class="text">
        <h1>Fast planning in IOS</h1>
    </div>
    <div class="row">
        <div class="span4">
            <div class="thumbnail" id="bluebackground">
                <div class="caption">
                    <h4>Personal profile</h4>
                    <p>
                        Get your information through your own <br />
                        personal business profile. You exchange <br />
                        account will be automatically used for this. <br />
                    </p>
                </div>
                <img src="~/assets/img/5.png" alt="...">
            </div>
        </div>

        <div class="span4">
            <div class="thumbnail" id="bluebackground">
                <div class="caption">
                    <h4>Upcoming meetnings</h4>
                    <p>
                        Get a list of your upcoming meeting, <br />
                        click and see the details. <br />
                        Never miss an important eppointment again. <br />
                    </p>
                </div>
                <img src="~/assets/img/6.png" alt="...">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span4">
            <div class="thumbnail" id="bluebackground">
                <div class="caption">
                    <h4>Fast meetings</h4>
                    <p>
                        Fast choosing between timespans <br />
                        and make ik possible to plan a meeting <br />
                        as soon as possible and needed. <br />
                    </p>
                </div>
                <img src="~/assets/img/7.png" alt="...">
            </div>
        </div>
        <div class="span4">
            <div class="thumbnail" id="bluebackground">
                <div class="caption">
                    <h4>Fast meetings</h4>
                    <p>
                        Fast choosing between timespans <br />
                        and make ik possible to plan a meeting <br />
                        as soon as possible and needed. <br />
                    </p>
                </div>
                <img src="~/assets/img/8.png" alt="...">
            </div>
        </div>
        <div class="span4">
            <div class="thumbnail" id="bluebackground">
                <div class="caption">
                    <h4>Fast meetings</h4>
                    <p>
                        Fast choosing between timespans <br />
                        and make it possible to plan a meeting <br />
                        as soon as possible and needed. <br />
                    </p>
                </div>
                <img src="~/assets/img/9.png" alt="...">
            </div>
        </div>
    </div>
</div>
<div id="green">

</div>
<div id="yellow">

</div>
<div class="row">
    <!-- Locations -->
    <div class="col-md-4">
        <h2>Locations</h2>
        <p>@Html.ActionLink("Locations", "Index", "Locations")</p>
    </div>
    <!-- Rooms -->
    <div class="col-md-4">
        <h2>Meeting rooms</h2>
        <p>@Html.ActionLink("Rooms", "Index", "Room")</p>
    </div>
    <!-- Meetings -->
    <div class="col-md-4">
        <h2>Meetings</h2>
        <p>@Html.ActionLink("Meetingsl", "Index", "Meetings")</p>
    </div>
    <!-- Users -->
    <div class="col-md-4">
        <h2>Users</h2>
        <p>@Html.ActionLink("Users", "Index", "UserProfile")</p>
    </div>
    <!-- Statistics -->
    <div class="col-md-4">
        <h2>Statistics</h2>
        <p>@Html.ActionLink("Statistics", "Index", "Statistics")</p>
    </div>

</div>
